[submodule "LearningVK/Vendor/GLFW"]
	path = LearningVK/Vendor/GLFW
	url = https://github.com/BavleyDanial/glfw.git
[submodule "EngineVK/Vendor/glm"]
	path = EngineVK/Vendor/glm
	url = https://github.com/BavleyDanial/glm.git
